/* Import reference file scss */
/* Reset  CSS */
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none; }

body {
  color: #666;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

p {
  color: #7f7f7f;
  font-size: 15px;
  line-height: 1.5; }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    p {
      font-size: 14px; } }

textarea {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 32px;
  line-height: 1.5; }

h2 {
  font-size: 30px;
  line-height: 1.5; }

h3 {
  font-size: 24px;
  line-height: 1.5; }

h4 {
  font-size: 17px;
  line-height: 1.4; }

h5 {
  font-size: 14px;
  line-height: 1.4; }

h6 {
  font-size: 12px;
  line-height: 1.3; }

.container-fluid {
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto; }

@media (max-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    max-width: 750px; } }

@media (min-width: 992px) {
  .container {
    max-width: 970px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.pt-80 {
  padding-top: 80px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-150 {
  padding-bottom: 150px; }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .pb-80.pb-tb-40 {
    padding-bottom: 40px; } }

/* Directory CSS 

  1. Navigation
  |--- 1.1. Navigation PC
  |--- 1.2. Navigation Mobile
  2. Header
  3. Section Portfolio
  4. Section Location
  5. Section Video
  6. Section Content
  7. Footer Menu
  8. Footer
  9. Icon Social Bar

*/
/* 1 Navigation */
@media (min-width: 1349px) {
  nav.menu-mobile {
    display: none !important; } }

.nav {
  background-color: #fff;
  padding-top: 35px;
  padding-bottom: 35px;
  position: fixed;
  width: calc(100% - 120px);
  z-index: 100;
  -webkit-box-shadow: 0px 10px 35px -15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 35px -15px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 35px -15px rgba(0, 0, 0, 0.35); }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .nav {
      width: calc(100% - 30px); } }
  .nav .nav-logo {
    text-align: left;
    width: 160px;
    display: inline-block;
    padding-right: 50px; }
    @media (max-width: 1190px) {
      .nav .nav-logo {
        padding-right: 25px; } }
    .nav .nav-logo .nav-brand {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 23px;
      font-weight: 700;
      color: #111111; }
  .nav .nav-menu {
    text-align: left;
    display: inline-block; }
    .nav .nav-menu li {
      display: inline-block;
      padding-right: 25px;
      text-transform: uppercase;
      color: #111111; }
      .nav .nav-menu li:nth-last-child(1) {
        margin-right: 0; }
      .nav .nav-menu li a {
        color: #111111;
        font-size: 12px;
        line-height: 1.2;
        padding-bottom: 5px; }
        @media (min-width: 1600px) {
          .nav .nav-menu li a {
            font-size: 15px; } }
        .nav .nav-menu li a:hover, .nav .nav-menu li a:active, .nav .nav-menu li a:focus {
          border-bottom: 2px solid #bababa;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
    .nav .nav-menu li.active a {
      border-bottom: 2px solid #bababa;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.call-us {
  z-index: 100;
  top: 0;
  right: 0;
  padding: 33px 50px;
  background: #333;
  text-align: center;
  position: fixed;
  font-size: 12px; }
  @media (min-width: 1600px) {
    .call-us {
      font-size: 15px;
      padding: 29px 50px; } }
  .call-us .text {
    color: #909090;
    font-size: 12px; }
    @media (min-width: 1600px) {
      .call-us .text {
        font-size: 15px; } }
  .call-us .number-phone {
    color: #fff;
    font-size: 12px; }
    @media (min-width: 1600px) {
      .call-us .number-phone {
        font-size: 15px; } }
    .call-us .number-phone span {
      padding-left: 10px; }

.call-us-mobile {
  padding-bottom: 50px;
  font-weight: bold; }
  .call-us-mobile p {
    color: #111111;
    font-size: 15px; }
  .call-us-mobile span {
    padding-left: 15px; }

@media (max-width: 1350px) {
  nav.menu-desktop {
    display: none; } }

nav.menu-mobile {
  background: #fff;
  display: inline-block;
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0px 10px 35px -15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 35px -15px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 35px -15px rgba(0, 0, 0, 0.35);
  z-index: 999; }
  nav.menu-mobile .block-top-menu {
    position: relative;
    z-index: 100; }
  nav.menu-mobile .nav-logo {
    text-align: left;
    width: 200px;
    display: inline-block;
    padding-right: 50px;
    padding: 15px 0; }
    nav.menu-mobile .nav-logo .nav-brand {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 700;
      color: #111111; }
  nav.menu-mobile .icon-menu-mobile {
    padding: 10px 0;
    display: inline-block;
    float: right; }
    nav.menu-mobile .icon-menu-mobile span {
      cursor: pointer;
      font-weight: bold; }
  nav.menu-mobile .item-menu {
    padding-bottom: 30px;
    position: absolute;
    background-color: #fff;
    left: -100%;
    z-index: 101;
    width: calc(100% - 30px);
    padding: 0 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    nav.menu-mobile .item-menu.collapse-menu {
      left: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    nav.menu-mobile .item-menu ul {
      padding-top: 15px;
      padding-bottom: 30px; }
      nav.menu-mobile .item-menu ul li {
        padding: 8px 0;
        font-size: 15px;
        text-transform: capitalize;
        list-style-type: none; }
        nav.menu-mobile .item-menu ul li a {
          color: #111111; }
      nav.menu-mobile .item-menu ul li.active a {
        color: #111111;
        border-bottom: 2px solid #bababa; }
        nav.menu-mobile .item-menu ul li.active a:hover, nav.menu-mobile .item-menu ul li.active a:active, nav.menu-mobile .item-menu ul li.active a:focus {
          color: #111111;
          border-bottom: 2px solid #bababa; }

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  background-color: #111111;
  margin-bottom: 1px; }
  .icon-bar a :hover {
    background-color: #111111; }

.menu-icon {
  display: inline-block;
  cursor: pointer; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #111111;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

@media (max-width: 767px) {
  .item-menu.collapse-menu {
    display: block; } }

/* 2. Header */
.header {
  background: #707374 url("../images/header.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh; }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .header {
      height: 70vh; } }
  @media (max-width: 767px) {
    .header {
      height: 70vh; } }
  .header .row {
    display: table;
    width: 100%;
    height: 100vh;
    position: relative; }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      .header .row {
        height: 70vh; } }
    @media (max-width: 767px) {
      .header .row {
        height: 100vh; } }
    .header .row .wrapper-header {
      text-align: center;
      color: #fff;
      border: 2px solid #fff;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 425px;
      padding: 50px 80px;
      top: 28%;
      left: 8%; }
      @media (max-width: 1024px) {
        .header .row .wrapper-header {
          top: 40%;
          left: 20%; } }
      @media (max-width: 991px) and (min-width: 768px) {
        .header .row .wrapper-header {
          top: 30%;
          left: 10%; } }
      @media (max-width: 767px) {
        .header .row .wrapper-header {
          width: 100%;
          left: 0;
          top: 20%;
          padding-left: 0px;
          padding-right: 0px; } }
      .header .row .wrapper-header h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.5; }
        @media (max-width: 767px) {
          .header .row .wrapper-header h1 {
            font-size: 24px;
            line-height: 1.4; } }
      .header .row .wrapper-header hr {
        width: 50px;
        background: #fff;
        height: 2px;
        margin: 15px auto; }
      .header .row .wrapper-header p {
        font-size: 18px;
        line-height: 1.5;
        padding-bottom: 30px;
        color: #e2e2e3; }
        @media (max-width: 1200px) {
          .header .row .wrapper-header p {
            padding-left: 0;
            padding-right: 0; } }
      .header .row .wrapper-header .header-btn {
        text-align: center; }
        .header .row .wrapper-header .header-btn a {
          font-size: 18px;
          line-height: 1.2;
          color: #fff;
          border: 2px solid;
          display: inline-block;
          text-transform: uppercase; }
        .header .row .wrapper-header .header-btn a.main-btn {
          background-color: #ce181e;
          border-color: #ce181e;
          padding: 15px 80px; }
          @media (max-width: 767px) {
            .header .row .wrapper-header .header-btn a.main-btn {
              padding: 15px 64px; } }
          .header .row .wrapper-header .header-btn a.main-btn:hover, .header .row .wrapper-header .header-btn a.main-btn:focus, .header .row .wrapper-header .header-btn a.main-btn:active {
            background-color: #ea454a;
            border-color: #ea454a;
            -webkit-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }

/* 3. Section Porfolio */
.portfolio-block {
  font-size: 0; }
  .portfolio-block .portfolio-item {
    position: relative;
    width: 33.333333%;
    display: inline-block;
    overflow: hidden;
    height: 320px; }
    @media (max-width: 991px) and (min-width: 768px) {
      .portfolio-block .portfolio-item {
        width: 50%; } }
    @media (max-width: 767px) {
      .portfolio-block .portfolio-item {
        width: 100%; } }
    .portfolio-block .portfolio-item:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); }
    .portfolio-block .portfolio-item:hover:before {
      transform: scale(1.1);
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    .portfolio-block .portfolio-item:hover img {
      width: 100%;
      height: 100%;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
    .portfolio-block .portfolio-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    .portfolio-block .portfolio-item .portfolio-content {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .portfolio-block .portfolio-item .portfolio-content h2 {
        display: block;
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        padding-bottom: 10px; }
      .portfolio-block .portfolio-item .portfolio-content p {
        display: block;
        color: #fff;
        font-size: 15px;
        text-align: center;
        padding-bottom: 35px; }
      .portfolio-block .portfolio-item .portfolio-content .portfolio-form {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 35px; }
        .portfolio-block .portfolio-item .portfolio-content .portfolio-form .input-first {
          display: inline-block; }
          @media (max-width: 1024px) {
            .portfolio-block .portfolio-item .portfolio-content .portfolio-form .input-first {
              display: block; } }
          .portfolio-block .portfolio-item .portfolio-content .portfolio-form .input-first .table-input {
            display: table;
            width: 100%;
            margin: 0 auto; }
            @media (max-width: 1024px) {
              .portfolio-block .portfolio-item .portfolio-content .portfolio-form .input-first .table-input {
                max-width: 192px; } }
            .portfolio-block .portfolio-item .portfolio-content .portfolio-form .input-first .table-input .reg-input {
              font-size: 13px;
              background-color: #fff;
              display: table-cell;
              border: 1px solid #fff;
              vertical-align: top;
              padding: 4px 2px 0px 2px; }
              .portfolio-block .portfolio-item .portfolio-content .portfolio-form .input-first .table-input .reg-input span {
                display: block; }
            .portfolio-block .portfolio-item .portfolio-content .portfolio-form .input-first .table-input input {
              display: table-cell;
              vertical-align: top; }
        .portfolio-block .portfolio-item .portfolio-content .portfolio-form input {
          background: transparent;
          border: 1px solid #fff;
          padding: 10px 15px;
          display: inline-block;
          color: #717171;
          font-size: 13px;
          max-width: 130px;
          vertical-align: top; }
          @media (max-width: 1024px) {
            .portfolio-block .portfolio-item .portfolio-content .portfolio-form input:nth-child(2) {
              max-width: 138px; } }
        .portfolio-block .portfolio-item .portfolio-content .portfolio-form .input-last {
          margin-left: 15px; }
          @media (max-width: 1024px) {
            .portfolio-block .portfolio-item .portfolio-content .portfolio-form .input-last {
              margin-left: 0;
              max-width: 160px !important;
              margin-top: 15px; } }
      .portfolio-block .portfolio-item .portfolio-content .portfolio-btn {
        display: block;
        color: #fff;
        background-color: rgba(206, 24, 30, 0.8);
        border: 1px solid #fff;
        font-size: 15px;
        padding: 12px 20px;
        text-align: center;
        text-transform: uppercase;
        width: 150px;
        margin: 0 auto; }
        .portfolio-block .portfolio-item .portfolio-content .portfolio-btn:hover, .portfolio-block .portfolio-item .portfolio-content .portfolio-btn:focus, .portfolio-block .portfolio-item .portfolio-content .portfolio-btn:active {
          background-color: #ea454a;
          border-color: #ea454a;
          -webkit-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
  @media (max-width: 767px) {
    .portfolio-block .portfolio-item.bg-dark {
      height: 450px; } }
  .portfolio-block .portfolio-item.bg-dark:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; }

/* 4. Section Location */
.section-location {
  padding-bottom: 100px;
  font-size: 0; }
  .section-location .col-img {
    width: 55%;
    display: inline-block; }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      .section-location .col-img {
        width: calc(100% - 30px); } }
    @media (max-width: 767px) {
      .section-location .col-img {
        width: 100%; } }
    .section-location .col-img img {
      width: 100%;
      height: auto; }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        .section-location .col-img img {
          width: calc(100% + 30px); } }
  .section-location .col-block {
    width: 45%;
    display: inline-block;
    vertical-align: top; }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      .section-location .col-block {
        width: calc(100% - 30px); } }
    @media (max-width: 767px) {
      .section-location .col-block {
        width: 100%; } }
    .section-location .col-block .icon-block {
      display: block;
      padding: 50px 70px; }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        .section-location .col-block .icon-block {
          padding: 100px 0 0 0; } }
      @media (max-width: 767px) {
        .section-location .col-block .icon-block {
          padding: 50px 0; } }
      .section-location .col-block .icon-block .news-letter {
        padding-bottom: 50px; }
        .section-location .col-block .icon-block .news-letter h2 {
          font-size: 30px;
          text-transform: uppercase;
          font-weight: normal;
          line-height: 1.2;
          padding-bottom: 15px; }
        .section-location .col-block .icon-block .news-letter p {
          padding-bottom: 30px; }
        .section-location .col-block .icon-block .news-letter input {
          width: 265px;
          font-size: 15px;
          padding: 15px;
          border: 1px solid #d0d0d0;
          margin-bottom: 40px;
          font-weight: 600;
          color: #666;
          display: block; }
        .section-location .col-block .icon-block .news-letter .news-letter-btn {
          color: #fff;
          background: #ce181e;
          font-size: 15px;
          text-transform: uppercase;
          padding: 15px 80px; }
          .section-location .col-block .icon-block .news-letter .news-letter-btn:hover, .section-location .col-block .icon-block .news-letter .news-letter-btn:focus, .section-location .col-block .icon-block .news-letter .news-letter-btn:active {
            background-color: #ea454a;
            border-color: #ea454a;
            -webkit-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
      .section-location .col-block .icon-block .contact-block {
        display: block;
        position: relative; }
        .section-location .col-block .icon-block .contact-block .block-icon {
          margin-right: 20px;
          width: 120px;
          height: 120px;
          background: #dadada;
          border-radius: 50%;
          position: relative;
          display: inline-block; }
          .section-location .col-block .icon-block .contact-block .block-icon img {
            width: 60px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
        .section-location .col-block .icon-block .contact-block .contact-info {
          display: inline-block;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
          .section-location .col-block .icon-block .contact-block .contact-info h4 {
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 400; }
          .section-location .col-block .icon-block .contact-block .contact-info p {
            color: #dadada; }
            .section-location .col-block .icon-block .contact-block .contact-info p span {
              font-weight: 700; }

/* 5. Section Video */
.section-video {
  background: url("../images/video-bg-1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 70vh; }
  @media (min-width: 1600px) {
    .section-video {
      height: 50vh; } }
  @media (max-width: 1024px) {
    .section-video {
      height: 50vh; } }
  @media (max-width: 767px) {
    .section-video {
      height: 60vh; } }
  .section-video .block-video {
    width: 400px;
    padding-top: 100px; }
    @media (max-width: 767px) {
      .section-video .block-video {
        width: 100%; } }
    .section-video .block-video h2 {
      text-transform: uppercase;
      color: #fff;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.2;
      padding-bottom: 25px; }
    .section-video .block-video p {
      color: #fff;
      padding-bottom: 40px;
      white-space: nowrap;
      overflow: hidden;
      animation: typing 1.5s steps(30, end); }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
    .section-video .block-video .main-btn a {
      color: #fff;
      background: #ce181e;
      padding: 15px 80px; }
      .section-video .block-video .main-btn a:hover, .section-video .block-video .main-btn a:focus, .section-video .block-video .main-btn a:active {
        background-color: #ea454a;
        border-color: #ea454a;
        -webkit-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }

/* 6. Section Content */
.section-content {
  background-color: #1c1c1c; }
  .section-content h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding-bottom: 40px; }
  .section-content .row {
    display: block;
    font-size: 0;
    margin: 0 -30px; }
    @media (max-width: 1024px) {
      .section-content .row {
        margin: 0 -15px; } }
    .section-content .row p {
      color: #fff;
      padding-bottom: 25px; }
  .section-content .col-md-6 {
    display: inline-block;
    width: 50%; }
    @media (max-width: 767px) {
      .section-content .col-md-6 {
        width: 100%; } }
    .section-content .col-md-6 .col-inner {
      padding: 0 30px; }
      @media (max-width: 1024px) {
        .section-content .col-md-6 .col-inner {
          padding: 0 15px; } }

/* 7. Footer Menu */
.footer-menu {
  background-color: #fff; }
  .footer-menu ul {
    padding: 30px 0; }
    @media (max-width: 767px) {
      .footer-menu ul {
        padding-bottom: 20px; } }
    .footer-menu ul li {
      padding-right: 15px;
      list-style-type: none;
      display: inline-block; }
      .footer-menu ul li:last-child {
        padding-left: 0; }
      @media (max-width: 767px) {
        .footer-menu ul li {
          padding-bottom: 10px; } }
      .footer-menu ul li a {
        color: #111111;
        text-transform: uppercase;
        font-size: 13px; }
        .footer-menu ul li a:hover, .footer-menu ul li a:focus, .footer-menu ul li a:active {
          color: #717171;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }

/* 8. Footer */
.footer {
  background-color: #111111; }
  .footer .footer-wrapper {
    font-size: 0;
    margin: 0 -15px; }
    .footer .footer-wrapper .footer-item {
      padding-left: 15px;
      padding-right: 15px;
      width: calc(50% - 30px);
      display: inline-block;
      vertical-align: top;
      padding-bottom: 25px; }
      @media (max-width: 767px) {
        .footer .footer-wrapper .footer-item {
          width: calc(100% - 30px); } }
      .footer .footer-wrapper .footer-item .block-item {
        padding-bottom: 60px;
        display: block; }
        .footer .footer-wrapper .footer-item .block-item h5 {
          font-size: 14px;
          color: #fff;
          text-transform: uppercase;
          padding-bottom: 30px; }
        .footer .footer-wrapper .footer-item .block-item p {
          line-height: 1.8; }
      .footer .footer-wrapper .footer-item .block-left {
        display: inline-block; }
      .footer .footer-wrapper .footer-item .block-right {
        text-align: right;
        display: inline-block; }
        .footer .footer-wrapper .footer-item .block-right p {
          padding-bottom: 30px; }

/* 9. Icon Social Bar */
.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 999;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (max-width: 1024px) {
    .icon-bar {
      display: none; } }
