/* Import reference file scss */
@import "mixin.scss";
@import "color.scss";
@import "main.scss";


/* Directory CSS 

  1. Navigation
  |--- 1.1. Navigation PC
  |--- 1.2. Navigation Mobile
  2. Header
  3. Section Portfolio
  4. Section Location
  5. Section Video
  6. Section Content
  7. Footer Menu
  8. Footer
  9. Icon Social Bar

*/

/* 1 Navigation */
//Navigation PC

nav.menu-mobile{
  @media (min-width: 1349px) {
    display: none !important;
  }
}

.nav {
  background-color: #fff;
  padding-top: 35px;
  padding-bottom: 35px;
  position: fixed;
  width: calc(100% - 120px);
  z-index: 100;
  
  @include box-shadow(0px 10px 35px -15px rgba(0,0,0,0.35));

  @media screen and (min-width: 768px ) and (max-width: 1200px){
    width: calc(100% - 30px);
  }

  .nav-logo {
    text-align: left;
    width: 160px;
    display: inline-block;
    padding-right: 50px;
    
    @media (max-width: 1190px) {
      padding-right: 25px;
    }

    .nav-brand{
      text-transform: uppercase;
      text-decoration: none;
      font-size: 23px;
      font-weight: 700;
      color: $default-color;
    }
  }
  .nav-menu{
    text-align: left;
    display: inline-block;

    li {
      display: inline-block;
      padding-right: 25px;
      text-transform: uppercase;
      color: $default-color;

      &:nth-last-child(1) {
        margin-right:0;
      }

      a{
        color: $default-color;
        font-size: 12px;
        line-height: 1.2;
        padding-bottom: 5px;

        @media (min-width: 1600px) {
          font-size: 15px;
        }

        &:hover,&:active,&:focus{
          border-bottom: 2px solid #bababa;

          @include transition(all 0.3s ease);
        }
      }
    }
    li.active{
      a{
        border-bottom: 2px solid #bababa;

        @include transition(all 0.3s ease);
      }
    }
  }
}

.call-us {
  z-index: 100;
  top: 0;
  right: 0;
  padding: 33px 50px;
  background: #333;
  text-align: center;
  position: fixed;
  font-size: 12px;

  @media (min-width: 1600px) {
    font-size: 15px;
    padding: 29px 50px;
  }

  .text {
    color: #909090;
    font-size: 12px;

    @media (min-width: 1600px) {
      font-size: 15px;
    }
  }

  .number-phone {
    color: #fff;
    font-size: 12px;

    @media (min-width: 1600px) {
      font-size: 15px;
    }

    span{
      padding-left: 10px;
    }
  }

}

.call-us-mobile {
  padding-bottom: 50px;
  font-weight: bold;

  p {
    color: $default-color;
    font-size: 15px;
  }
  
  span {
    padding-left: 15px;
  }
}

//Navigation Mobile
nav.menu-desktop{
  @media (max-width: 1350px){
    display: none;
  }
}

nav.menu-mobile{
  background:#fff;
  display: inline-block;
  width: 100%;
  position: fixed;
  @include box-shadow(0px 10px 35px -15px rgba(0,0,0,0.35));
  z-index: 999;

  .block-top-menu {
    position: relative;
    z-index: 100;
  }

  .nav-logo {
    text-align: left;
    width: 200px;
    display: inline-block;
    padding-right: 50px;
    padding: 15px 0;

    .nav-brand{
      text-decoration: none;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 700;
      color: $default-color;
    }
  }

  .icon-menu-mobile{
    padding: 10px 0;
    display: inline-block;
    float: right;

    span{
      cursor: pointer;
      font-weight: bold;
    }
  }

  .item-menu{
    padding-bottom: 30px;
    position: absolute;
    background-color: #fff;
    left:-100%;
    z-index: 101;
    width: calc(100% - 30px);
    padding: 0 15px;

    @include transition(all 0.3s ease);

    &.collapse-menu{
      left: 0;

      @include transition(all 0.3s ease);
    }

    ul{
      padding-top: 15px;
      padding-bottom: 30px;

      li{
        padding: 8px 0;
        font-size: 15px;
        text-transform: capitalize;
        list-style-type: none;
        
        a{
          color: $default-color;
        }
      }

      li.active a{
        color: $default-color;
        border-bottom: 2px solid #bababa;

        &:hover, &:active, &:focus{
          color: $default-color;
          border-bottom: 2px solid #bababa;
        }
      }
    }
  }
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  background-color: $default-color;
  margin-bottom: 1px;

  :hover {
    background-color: $default-color;
  }
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: $default-color;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.item-menu.collapse-menu{
  @media (max-width: 767px) {
    display: block;
  }
}

/* 2. Header */

.header{
  background: #707374 url('../images/header.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
  
  @media screen and (min-width: 768px ) and (max-width: 1200px){
    height: 70vh;
  }

  @media (max-width: 767px){
    height: 70vh;
  }

  .row{
    display:table;
    width: 100%;
    height: 100vh;
    position: relative;

    @media screen and (min-width: 768px ) and (max-width: 1200px){
      height: 70vh;
    }

    @media (max-width: 767px){
      height: 100vh;
    }

    .wrapper-header{
      text-align: center;
      color: #fff;
      border: 2px solid #fff;
      background: rgba(0,0,0,0.5);
      position: absolute;
      width: 425px;
      padding: 50px 80px;
      top: 28%;
      left: 8%;

      @media (max-width: 1024px) {
        top: 40%;
        left: 20%;
      }

      @media (max-width: 991px) and (min-width: 768px) {
        top: 30%;
        left: 10%;
      }

      @media (max-width: 767px) {
        width: 100%;
        left: 0;
        top: 20%;
        padding-left: 0px;
        padding-right: 0px;
      }

      h1{

        text-transform: uppercase;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.5;

        @media (max-width: 767px){
          font-size: 24px;
          line-height: 1.4;
        }
      }

      hr {
        width: 50px;
        background: #fff;
        height: 2px;
        margin: 15px auto;
      }

      p{
        font-size: 18px;
        line-height: 1.5;
        padding-bottom: 30px;
        color: #e2e2e3;
        
        @media (max-width: 1200px ){
          padding-left: 0;
          padding-right: 0;
        }
      }

      .header-btn{
        text-align: center;

        a{
          font-size: 18px;
          line-height: 1.2;
          color: #fff;
          border: 2px solid;
          display: inline-block;
          text-transform: uppercase;

        }

        a.main-btn{
          background-color: $primary-color;
          border-color: $primary-color;
          padding: 15px 80px;

          @media (max-width: 767px) {
            padding: 15px 64px;
          }

          &:hover,&:focus,&:active{
            background-color: $hover-color;
            border-color: $hover-color;

            @include box-shadow(0 15px 15px -15px rgba(0,0,0,0.5));
            @include transition(all 0.3s ease);
          }
        }
      }
    }
  }
}

/* 3. Section Porfolio */

.portfolio-block {
  font-size: 0;

  .portfolio-item {
    position: relative;
    width: 33.333333%;
    display: inline-block;
    overflow: hidden;
    height: 320px;

    @media(max-width: 991px) and (min-width: 768px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
    }

    &:hover:before {
      transform: scale(1.1);

      @include transition(0.3s ease-in-out);
    }

    &:hover {
      img {
        width: 100%;
        height: 100%;

        @include transform(scale(1.1));
      }
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      @include transform(scale(1));
      @include transition(0.3s ease-in-out);
    }
  
    .portfolio-content {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      width: 100%;

      @include transform-translate(-50%,-50%);

      h2 {
        display: block;
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        padding-bottom: 10px;
      }

      p {
        display: block;
        color: #fff;
        font-size: 15px;
        text-align: center;
        padding-bottom: 35px;
      }

      .portfolio-form {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 35px;

        .input-first {
          display: inline-block;

          @media( max-width: 1024px) {
            display: block;
          }
          
          .table-input {
            display: table;
            width: 100%;
            margin: 0 auto;

            @media (max-width: 1024px) {
              max-width: 192px;
            }

            .reg-input {
              font-size: 13px;
              background-color: #fff;
              display: table-cell;
              border: 1px solid #fff;
              vertical-align: top;
              padding: 4px 2px 0px 2px;
    
              span {
                display: block;
              }
            }

            input{
              display: table-cell;
              vertical-align: top;
            }
          }
        }

        input {
          background: transparent;
          border: 1px solid #fff;
          padding: 10px 15px;
          display: inline-block;
          color: #717171;
          font-size: 13px;
          max-width: 130px;
          vertical-align: top;

          &:nth-child(2) {
            @media (max-width: 1024px) {
              max-width: 138px;
            }
          }

        }
        .input-last {
          margin-left: 15px;

          @media (max-width: 1024px) {
            margin-left: 0;
            max-width: 160px !important;
            margin-top: 15px;
          }
        }
      }

      .portfolio-btn {
        display: block;
        color: #fff;
        background-color: rgba(206, 24, 30, 0.8);
        border: 1px solid #fff;
        font-size: 15px;
        padding: 12px 20px;
        text-align: center;
        text-transform: uppercase;
        width: 150px;
        margin: 0 auto;

        &:hover,&:focus,&:active{
          background-color: $hover-color;
          border-color: $hover-color;

          @include box-shadow(0 15px 15px -15px rgba(0,0,0,0.5));
          @include transition(all 0.3s ease);
        } 
      }
    }
  }

  .portfolio-item.bg-dark {
    @media (max-width: 767px) {
      height: 450px;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,1);
    }
  }
}

/* 4. Section Location */

.section-location {
  padding-bottom: 100px;
  font-size: 0;

  .col-img {
    width: 55%;
    display: inline-block;

    @media screen and (min-width: 768px ) and (max-width: 1200px){
      width: calc(100% - 30px);
    }

    @media (max-width: 767px){
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;

      @media screen and (min-width: 768px ) and (max-width: 1200px){
        width: calc(100% + 30px);
      }
    }
  }
  .col-block{
    width: 45%;
    display: inline-block;
    vertical-align: top;

    @media screen and (min-width: 768px ) and (max-width: 1200px){
      width: calc(100% - 30px);
    }

    @media (max-width: 767px){
      width: 100%;
    }

    .icon-block{
      display: block;
      padding: 50px 70px;

      @media screen and (min-width: 768px ) and (max-width: 1200px){
        padding: 100px 0 0 0;
      }

      @media (max-width: 767px){
        padding: 50px 0;
      }
        
      .news-letter {
        padding-bottom: 50px;

        h2 {
          font-size: 30px;
          text-transform: uppercase;
          font-weight: normal;
          line-height: 1.2;
          padding-bottom: 15px;
        }

        p {
          padding-bottom: 30px;
        }

        input {
          width: 265px;
          font-size: 15px;
          padding: 15px;
          border: 1px solid #d0d0d0;
          margin-bottom: 40px;
          font-weight: 600;
          color: #666;
          display: block;
        }

        .news-letter-btn {
          color: #fff;
          background: $primary-color;
          font-size: 15px;
          text-transform: uppercase;
          padding: 15px 80px;

          &:hover,&:focus,&:active{
            background-color: $hover-color;
            border-color: $hover-color;

            @include box-shadow(0 15px 15px -15px rgba(0,0,0,0.5));
            @include transition(all 0.3s ease);
          }
        }
      }

      .contact-block {
        display: block;
        position: relative;

        .block-icon {
          margin-right: 20px;
          width: 120px;
          height: 120px;
          background: #dadada;
          border-radius: 50%;
          position: relative;
          display: inline-block;

          img {
            width: 60px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;

            @include transform-translate(-50%, -50%);
          }
        }

        .contact-info {
          display: inline-block;
          position: absolute;
          top: 50%;

          @include translateY(-50%);

          h4 {
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 400;
          }

          p {
            color: #dadada;

            span {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

/* 5. Section Video */ 

.section-video {
  background: url('../images/video-bg-1.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 70vh;

  @media (min-width: 1600px) {
    height: 50vh;
  }

  @media (max-width: 1024px) {
    height: 50vh;
  }

  @media (max-width: 767px) {
    height: 60vh;
  }

  .block-video {
    width: 400px;
    padding-top: 100px;

    @media (max-width: 767px) {
      width: 100%;
    }

    h2{
      text-transform: uppercase;
      color: #fff;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.2;
      padding-bottom: 25px;
    }

    p {
      color: #fff;
      padding-bottom: 40px;
      white-space: nowrap;
      overflow: hidden;
      animation: typing 1.5s steps(30, end);

      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
    }

    .main-btn a{
      color: #fff;
      background: $primary-color;
      padding: 15px 80px;

      &:hover,&:focus,&:active{
        background-color: $hover-color;
        border-color: $hover-color;

        @include box-shadow(0 15px 15px -15px rgba(0,0,0,0.5));
        @include transition(all 0.3s ease);
      }
    }
  }
}

/* 6. Section Content */

.section-content {
  background-color: #1c1c1c;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding-bottom: 40px;
  }

  .row {
    display: block;
    font-size: 0;
    margin: 0 -30px;

    @media(max-width: 1024px) {
      margin: 0 -15px;
    }

    p {
      color: #fff;
      padding-bottom: 25px;
    }
  }
  .col-md-6 {
    display: inline-block;
    width: 50%;

    @media (max-width: 767px) {
      width: 100%;
    }

    .col-inner {
      padding: 0 30px;

      @media(max-width: 1024px) {
        padding: 0 15px;
      }
    }
  }
}

/* 7. Footer Menu */

.footer-menu {
  background-color: #fff;
  ul {
    padding: 30px 0;

    @media (max-width: 767px) {
      padding-bottom: 20px;
    }
    li {
      padding-right: 15px;
      list-style-type: none;
      display: inline-block;

      &:last-child {
        padding-left: 0;
      }

      @media (max-width: 767px) {
        padding-bottom: 10px;
      }

      a {
        color: $default-color;
        text-transform: uppercase;
        font-size: 13px;

        &:hover,&:focus,&:active{
          color: #717171;

          @include transition(all 0.3s ease);
        }
      }
    }
  }
}

/* 8. Footer */

.footer{
  background-color: $default-color;

  .footer-wrapper{
    font-size: 0;
    margin: 0 -15px;

    .footer-item{
      padding-left: 15px;
      padding-right: 15px;
      width: calc(50% - 30px);
      display: inline-block;
      vertical-align: top;
      padding-bottom: 25px;

      @media (max-width: 767px) {
        width: calc(100% - 30px);  
      }

      .block-item{
        padding-bottom: 60px;
        display: block;
        h5 {
          font-size: 14px;
          color: #fff;
          text-transform: uppercase;
          padding-bottom: 30px;
        }
        p {
          line-height: 1.8;
        }
      }

      .block-left {
        display: inline-block;
      }

      .block-right {
        text-align: right;
        display: inline-block;

        p {
          padding-bottom: 30px;
        }
      }
    }
  }
}

/* 9. Icon Social Bar */

.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 999;

  @include translateY(-50%);

  @media (max-width: 1024px) {
    display: none;
  }
}